src/main/resources/colors/colors.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="colors" type="colorsType"/>
  <xs:complexType name="colorsType">
    <xs:sequence>
      <xs:element type="colorType" name="color" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="colorType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="name" use="required"/>
        <xs:attribute type="xs:string" name="red" use="required"/>
        <xs:attribute type="xs:string" name="green" use="required"/>
        <xs:attribute type="xs:string" name="blue" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>